@charset "UTF-8";
*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
a{text-decoration: none; color: #3d3d3d;}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: #3d3d3d;;
}
/*fixed_scroll*/
.fixed_scroll_y{
    position: fixed;
    top: 65%;
    right: -20px;
    z-index: 99999;
}
.fixed_scroll_y img{
    width: 80%;
    animation: motion3 1s;
    animation-delay: 1s;

}
.fixed_scroll_y:hover{
    animation: motion 0.8s;
}
.fixed_scroll_y:hover .fixed_text{
    display: block;
}
.fixed_scroll_p{
    position: fixed;
    top: 74%;
    right: -20px;
    z-index: 9999;
}
.fixed_scroll_p img{
    width: 80%;
    animation: motion3 1s;
    animation-delay: 2s;
}
.fixed_scroll_p:hover{
    animation: motion 0.8s;
    z-index: 999999
}
.fixed_scroll_p:hover .fixed_text{
    display: block;
}

.fixed_scroll_m{
    position: fixed;
    top: 83%;
    right: -20px;
    z-index: 999;
}
.fixed_scroll_m img{
    width: 80%;
    animation: motion3 1s;
    animation-delay: 3s;
}
.fixed_scroll_m:hover{
    animation: motion 0.8s;
    z-index: 9999999;
}
.fixed_scroll_m:hover .fixed_text{
    display: block;
}
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: #3d3d3d;;
}
.fixed_text{
    width: 80px;
    font-family: 'MaplestoryOTFBold';
    letter-spacing: 2px;
    line-height: 1.5;
    position: absolute;
    top: 50px;
    right: 120px;
    text-align: center;
    background: linear-gradient(135deg, #FFE29E, #57C0D1, #FF30C8);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
    display: none;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/*fixed_scroll_animation*/
@media(max-width:500px){
    .fixed_scroll_y img,
    .fixed_scroll_p img,
    .fixed_scroll_m img{
        width: 50%;
    }
    .fixed_scroll_y{
        position: fixed;
        top: 71%;
        right: -50px;
        z-index: 99999;
    }
    .fixed_scroll_p{
        position: fixed;
        top: 77%;
        right: -50px;
        z-index: 9999;
    }
    .fixed_scroll_m{
        position: fixed;
        top: 83%;
        right: -50px;
        z-index: 999;
    }
    .fixed_text{
        top: 20px;
        right: 120px;
        font-size: 10px;
        display: none;
    }
}
@keyframes motion{
    0%{
        transform: scaleX(1);
        transform-origin: bottom;
    }
    20%{
        transform: scaleX(1.2);
        transform-origin: bottom;
    }
    40%{
        transform: scaleY(1.2);
        transform-origin: bottom;
    }
    60%{
        transform: scaleX(1.2);
        transform-origin: bottom;
    }
    80%{
        transform: scaleY(1.1);
        transform-origin: bottom;
    }
    100%{
        transform: scaleX(1);
        transform-origin: bottom;
    }
}
@keyframes motion2{
    0%{
        transform: scaleX(1);
        transform-origin: bottom;
    }
    20%{
        transform: scaleX(1.1);
        transform-origin: bottom;
    }
    40%{
        transform: scaleY(1.1);
        transform-origin: bottom;
    }
    60%{
        transform: scaleX(1.1);
        transform-origin: bottom;
    }
    80%{
        transform: scaleY(1.05);
        transform-origin: bottom;
    }
    100%{
        transform: scaleX(1);
        transform-origin: bottom;
    }
}
@keyframes motion3{
    0%{
        transform: scaleX(1);
        transform-origin: bottom;
    }
    20%{
        transform: scaleX(1.05);
        transform-origin: bottom;
    }
    40%{
        transform: scaleY(1.05);
        transform-origin: bottom;
    }
    60%{
        transform: scaleX(1.05);
        transform-origin: bottom;
    }
    80%{
        transform: scaleY(1.03);
        transform-origin: bottom;
    }
    100%{
        transform: scaleX(1);
        transform-origin: bottom;
    }
}
/*fixed_scroll_animation_f*/
body{
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'NanumSquareRound';
    font-weight: bold;
    background-color: #fff;
    color: #3d3d3d;;
}
/*Header_PC_S*/

#header_wrap{
    height: 680px;
    background: url(../images/banner/brand_main_banner.png) no-repeat center bottom;
    background-size: cover;
}
.header{
    height: 150px;
    background: url(../images/banner/brand_header.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
    margin: 0 auto;
}
.header h1{
    float: left;
    text-align: center;
    margin-left: 20px;
}
.header h1 img:hover{
    transform: rotateY(360deg);
    transition: transform 1.5s;
}
.gnb_wrap{
    width: 1320px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 30px;
    text-align: center;
    position: relative;
}
.gnb{
    display: inline-block;
}
.gnb li{
    float: left;
    padding-top: 70px;
}
.gnb li a{
    display: block;
    color: #fff;
    letter-spacing: 2px;
    padding: 0 30px;
}
.gnb li a:hover{
    color: #a4fff0;
    animation: motion2 0.9s;
}
.search_bar{
    text-align: center;
    float: right;
    margin: 50px 20px 0 0;
}
.search_bar img{
    display: inline-block;
}
.util{
    width: 18%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 999;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1.2px;
    display: flex;
    justify-content: space-evenly;
}
.util li{
    width: 25%;
    box-sizing: border-box;
}
.util li a{
    display: block;
    color: rgba(255, 255, 255, 1);
    font-weight: 100;
}
.util li:hover{
    transform: rotateY(360deg);
    transition: transform 1.5s;
}
.util li img{
    display: inline-block;
}
.util li:nth-child(2) img{
    padding-top: 2px;
}
.icon{
    height: 30px;
    margin-bottom: 2px;
}
.mobile_logo{
    display: none;
}
.menu_link{
    width: 5%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    text-align: center;
}
.menu_link img{
    display: inline-block;
}
/*header_pc_F*/

/*banner_s*/
@import url('https://fonts.cdnfonts.com/css/broken-console');
.banner{
    font-family: 'Broken Console', sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
}
.banner h2{
    padding-top: 150px;
    text-shadow: 3px 3px 0 #be008c;
}

/*banner_f*/

/*section1_s*/
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
#section1{
    height: 1285px;
    background: url(../images/section1/section1_bg.png) no-repeat center;
    background-size: cover;
}
#section1 .contents_wrap{
    height: 100%;
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
    position: relative;
}
/*title_section_s*/
.title_section{
    text-align: center;
}
.title_section h2{
    padding: 100px 0 87px;
}
/*title_section_f*/
#section1 .contents_wrap .pic1{
    float: right;
    padding-top: 25px;
    margin-right: 50px;
    margin: 125px 50px 0 0;
}
#section1 .contents_wrap .pic2{
    width: 450px;
    height: 450px;
    border-radius: 20px;
    position: absolute;
    bottom: 200px;
    left: 317px;
    background-color: rgb(255, 224, 251);
    z-index: 99;
}
.text_wrap{
    display: inline-block;
    padding: 25px;
    border-radius: 25px;
}
#section1 .text_wrap{
    margin: 133px 0 0 107px;
    background-color: #FFF08F;
}
.text_wrap p{
    font-weight: 100;
    font-size: 16px;
    padding-top: 15px;
    letter-spacing: 0.5px;
    font-weight: bold;
}
.c_1{
    position: absolute;
    top: 290px;
    left: 350px;
}
.c_1 img{
    display: block;
    width: 100%;
}
/*section1_f*/

/*section2_s*/
#section2{
    height: 825px;
    background: url(../images/section2/section2_bg.png) no-repeat center top;
    background-size: cover;
    padding: 50px 0;
    box-sizing: border-box;
}
#section2 .contents_wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
#section2 .contents_wrap .pic1{
    float: right;
    padding: 50px 50px 0 0;
}
#section2 .contents_wrap .pic1 img{
    display: block;
}
#section2 .contents_wrap .pic2{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgb(255, 225, 253);
    z-index: 99;
}
#section2 .text_wrap{
    float: right;
    background-color: #E5FF8F;
    margin: 0 100px 0 0;
}
.c_2{
    position: absolute;
    bottom: -950px;
    left: 160px;
    z-index: 999;
}
.c_2 img{
    display: block;
    width: 100%;
}
/*section2_f*/

/*section3_s*/
#section3{
    height: 1025px;
    background: url(../images/section3/section3_bg.png) no-repeat center;
    background-size: cover;
    padding: 200px 0 100px;
    box-sizing: border-box;
}
#section3 .contents_wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
#section3 .contents_wrap .pic1{
    float: left;
    padding: 200px 50px 0 50px;
}
#section3 .contents_wrap .pic2{
    width: 450px;
    height: 450px;
    border-radius: 85px;
    position: absolute;
    top: 0;
    left: 430px;
    background-color: rgb(255, 221, 253);
    z-index: 99;
}
#section3 .text_wrap{
    background-color: #FFF08F;
    margin-top: 510px;
}
/*section3_f*/

/*section4_s*/
#section4_wrap{
    height: 910px;
    background: url(../images/section4/section4_bg.png) no-repeat center;
    background-size: cover;
    text-align: center;
}
.section4{
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0 200px;
    
}
.section4 h2{
    padding-bottom: 100px;
}
.character{
    width: 740px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.character li{
    width: 49%;
    height: 450px;
    border-radius: 30px;
    background-color: #FF30C8;
}
.c_info h2{
    padding-bottom:20px;
}
.c_info{
    position: absolute;
    top: 45px;
    right: 50px;
}
.c_info p{
    padding-top: 30px;
}
/*section4_f*/

/*footer_S*/
#footer_wrap{
    height: 600px;
    background-image: url(../images/footer/footer_bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 100px;
    position: relative;
}
.footer{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 99;
}
.footer_link{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-weight: 100;
    letter-spacing: 1px;
}
.footer_link li{
    width: 18%;
}
.footer_link li a{
    display: block;
    background-color: #FF3096;
    padding: 3px 0;
    color: #fff;
    font-size: 12px;
    border-radius: 30px;
    transition: background-color 0.8s;
}
.footer_link li a:hover{
    transition: background-color 0.8s;
    background-color:#ff9dcb;
}
.footer_contents{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}
.footer_contents p{
    width: 25%;
    font-size: 12px;
    line-height: 1.6em;
    color: #296270;
    float: left;
    padding: 25px 0 0 10px;
}
.footer_contents h2{
    width: 20%;
    float: right;
    padding: 40px 0 0 10px;
    text-align: center;
}
.footer_contents h2 img:hover{
    transform: rotateY(360deg);
    transition: transform 1.2s;
    transform-origin: center;
}
.sns{
    display: flex;
    width: 45%;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}
.sns li{
    width: 25%;
    margin: 10px 5px 0;
}
.sns li img{
    display: inline-block;
}
.sns li img:hover{
    animation: motion 0.8s;
}
.follow_us{
    width: 100%;
    display: inline-block;
    width: 50%;
    margin: 0 auto;
}
.follow_us .img_wrap{
    width: 100%;
    display: inline-block;
    text-align: center;
}
/*footer_F*/